<h2>COMMENTS</h2>
<ol class="comments">
  {{#each this}}
  <li class="comment">
        <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
     -  {{user.username}} on {{format_date created_at}}
    </div>

  </li>
  {{/each}}
</ol>