<section>
  <h2>Create New Blog</h2>

  <form class="new-blogform">
    <div>
      <label for="blogtitle">Title</label>
      <input type="text" id="blogtitle" name="blogtitle" />
    </div>
    <div>
      <label for="blogurl">Link</label>
      <input id="blogurl" name="blogurl" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if blogs.length}}
<section>
  <h2>Your Blogs</h2>
  <ol>
    {{#each blogs as |blog|}}
    <li>
      {{> blog-info blog}}
      <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit blog</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-blog.js"></script>