

<form class="register-form">
  <div>
    <label for="username-register">username:</label>
    <input type="text" id="username-register" />
  </div>
  <div>
    <label for="email-register">email:</label>
    <input type="text" id="email-register" />
  </div>
  <div>
    <label for="password-register">password:</label>
    <input type="password" id="password-register" />
  </div>
  <div>
    <button type="submit" class="btn">register</button>
  </div>
</form>

<script src="/javascript/register.js"></script>