  
:root {
  --primary: #d9ead3;
  --secondary: #231010;
  --tertiary: #46cb17;
  --light-dark: #6f6866;
  --border-radius: .3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--secondary);
  line-height: 1.5;
  font-size: 16px;
}
h1
 {
  font-weight: 700;
  margin: 0;
  color: var(--secondary);
  line-height: 1.25;
}

main {
  margin: 20px auto;
  width: 94%;
}

header {
  padding: 3% 4%;
  background-color: var(--secondary);
}

header h1 {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}



a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
  transition: color .1s;
}
nav a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  transition: color .1s;
  padding-right: 1%;


}
nav{
  margin-bottom: 1%;
}

nav a:hover {
  color: var(--tertiary);
}

.blog{
  margin: 0 0 20px 0;
  border: 3px solid var(--secondary);
  border-radius: var(--border-radius);
  margin:1%;
}

.title-header{
  background-color: var(--secondary);
  padding: 1.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primary);
  font-size: .75 rem;
  flex-wrap: wrap;
}

.title-header a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  transition: color .1s;

}

.title-header a:hover {
  color: var(--tertiary);
}

.title p {
  padding: 0 1.5%;
}

.meta{
  font-style: italic;
  padding: 0 1.5%;
}

.comment{
  margin: 0 0 10px 0;
}

h2{
  text-align: center;
}

form > div {
  margin: 1%;
  width: 100%;
  /* text-align: center; */
}
form > div >textarea {
  width: 90%;
  /* text-align: center; */
}
form  div button {
  margin-left: 5%;
  width: 90%;
  text-align: center;
}

.comment-form > div >textarea {
  margin-left: 5%;
  width: 90%;
  /* text-align: center; */
}

form label,
form input {
  display: block;
}

.new-blog-form  {
 margin-left: 5%;
 

}


.login-form input,
.register-form input,
.new-blog-form input,
.edit-blog-form input {
  width: 90%;
  padding: 1%;
 
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
  margin-left: 0%;
  width: 90%;
  text-align: center;
}

.edit-link{
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 95%;
  display: block;
  margin: 0 3%;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
  text-align: center;
}

.edit-link:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
}


textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
   width: 90%;
  min-height: 100px;
  padding: 1%;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius); 
  

}

button {
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 90%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
  
}

button:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  display: inline;
  width: 10%;
  margin-bottom: 1%;
}

.btn-no-style:hover {
  background: none;
  color: var(--tertiary)
}
